<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% messages.forEach((message) => { %>
            <p><%= message.message %></p>
            <button class="details" onclick="window.location.href='/message/<%= message.id %>'">See Details</button>
        <% }) %>
        <a href="/new">Add Message</a>
    </body>
</html>