<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <ul>
            <li>Message: <%= message.message %></li>
            <li>User: <%=message.name %></li>
            <li>Date: <%= message.date %></li>
        </ul>
        <a href="/">Back</a>
    </body>
</html>